p{color: blue;text-align: center;}
h1{color:chartreuse;text-align: center;}
.button2{background-color: chocolate;
    text-align: center;
    position: relative;
    padding: 15px 24px;
    font-size: 1.4rem;
    outline: none;
    display: block;
    margin: 0 auto;}
body{background-image: url(图片1.png);}
.button1{
    text-align: center;
    display: block;
    margin: 0 auto;
    padding: 10px 18px;
    position: relative;
    font-size: medium;
}